<div id="sidebar">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Navigation</h3>
  </div>
  <div class="panel-body">
    <p>
  <span class="glyphicon glyphicon-list"></span> <%= link_to 'All Books', books_path %>
    </p>
    <p>
  <span class="glyphicon glyphicon-plus"></span> <%= link_to 'Create Book', new_book_path %>
    </p>
  </div>
</div>
</div>